services:
  app:
    build:
      context: ..
      dockerfile: Infra/Dockerfile
    image : myapp:latest
    env_file:
    - ../.env
    environment:
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5156/health"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - backend


  redis:
    image: redis:7-alpine
    command: ["redis-server", "--save", "60","1"]
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"
    restart: unless-stopped
    networks:
      - backend

  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    restart: unless-stopped
    networks:
      - backend

volumes:
  redis-data:

networks:
  backend:
    driver: bridge


  
